<% layout('layout/boilerplate')%>

<div class="mx-auto w-50">
    <% for (let post of posts){%>
        <div class="card mb-3">
            <div class="row">
                <div class="col">
                    <div class="card-body">
                        <h5 class="card-title">
                            <b>
                                <a href="/posts/<%=post._id%>" class="text-decoration-none text-dark"><%= post.title %></a>
                            </b>
                        </h5>
                        <p class="card-text"><%= post.description %></p>
                        <button class="btn btn-secondary">&#10224; <%=post.upvote || 0 %> </button>
                        <button class="btn btn-secondary">&#10225; <%=post.downvote || 0 %> </button>
                        <a class="btn btn-secondary" href="/posts/<%=post._id%>"><i class="fa fa-comments-o"></i> <%=(post.comments) ? post.comments.length : 0 %></a>
                    </div>
                </div>
            </div>
        </div>
    <% }%>
</div>

<script src="/javascripts/clusterMap.js"></script>